@model SecureChild.Models.Parent

@{
    ViewData["Title"] = "Parent Details";
}

<h1 style="color: black;"></h1>

<div>
    <h4 style="color: #ffd700;">Parent</h4> <!-- Royal Yellow -->
    <hr style="border-color: #ffd700;" /> <!-- Horizontal rule in Royal Yellow -->
    <dl class="row" style="color: black;">
        <!-- Black text for details -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactInfo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditParent" asp-route-id="@Model.Id" class="btn" style="background-color: #ffd700; color: black; text-decoration: none; padding: 10px 15px; border-radius: 5px;">Edit</a> |
    <a asp-action="ManageParents" class="btn" style="background-color: #ffd700; color: black; text-decoration: none; padding: 10px 15px; border-radius: 5px; margin-left: 10px;">Back to List</a>
</div>
